html, body {
  margin: 0 !important;                
  padding: 0 !important;               
  box-sizing: border-box !important;  
}
body {
  font-size: 16px !important;                  
  line-height: 1.3 !important;                                    
  background-color: #f8f9fa !important;     
}
.hero-slider {
  position: relative !important;
  height: 100vh !important;
  overflow: hidden !important;
}

.carousel-item {
  height: 100vh !important;
}

.carousel-item img {
  object-fit: cover !important;
  height: 100% !important;
}

.carousel-caption {
  position: absolute !important;
  bottom: 70% !important;
  left: 35% !important;
  transform: translateX(-50%) !important;
  color: #fff !important;
  text-align: left !important;
}
.carousel-inner {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  overflow: hidden !important; 
}

li a{
  color: #333 !important;
  font-weight: 600 !important;

}
li a:hover{
  color: #FF385C !important;


}
h1,h2,h3,h4,h5{
  font-family: 'Playfair Display', serif  !important;
  color: #FF385C !important;

}
.card {
  border-radius: 10px !important; 
  transition: transform 0.3s !important;
}

.card:hover {
  transform: scale(1.05) !important;
}

.card-body {
  padding: 20px !important; 
}

.card-title {
  font-size: 1.5rem !important; 
  color: #333 !important; 
}

.card-text {
  font-size: 1rem !important;
  color: #666 !important;
}

.btn {
  border-radius: 5px !important; 
}

@media (max-width: 768px) {
  .card {
      margin-bottom: 20px !important; 
  }
}

#carousel-inner {
  border-radius: 10px !important; 
  overflow: hidden !important; 
}

#carousel-control-prev-icon,
#carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5) !important; 
  border-radius: 50% !important; 
}

#carousel-control-prev,
#carousel-control-next {
  width: 5% !important; 
}
#carousel-item img {
  object-fit: cover !important;
  height: 100% !important;
}
.page-section {
  padding: 60px 0; 
}

h2 {
  font-size: 2rem;
}

.form-floating label {
  color: #6c757d; 
}
.gallery-img-large {
  border-radius: 10px;
}

.gallery-img-small {
  border-radius: 10px; 
}

.card {
  border: none;
}